<footer class="footer-main">
    <div class="footer-main-inner">
        <div class="container">
            <div class="email-block">
                <a href="mailto:info@tino.agency" class="hover-link">info@tino.agency</a>
            </div>
            <div class="btn-block">
                <a href="#" class="btn-form-feedback btn-abs">
                    <span class="dot-btn dot-btn1"></span>
                    <span class="dot-btn dot-btn2"></span>
                    <span class="dot-btn dot-btn3"></span>
                </a>
            </div>
            <div class="copy-menu-row">
                <div class="copy-text">
                    <p>© 2018 Tino Digital Agency</p>
                </div>
                <div class="footer-menu">
                    <ul class="bottom-menu">
                        <li><a href="https://www.behance.net/designtino" class="hover-link" target="_blank">Behance</a></li>
                        <li><a href="https://dribbble.com/anastasia-tino" class="hover-link" target="_blank">Dribbble</a></li>
                        <li><a href="https://www.facebook.com/tino.agency/" class="hover-link" target="_blank">Facebook</a></li>
                        <!--<li><a href="#" target="_blank">Twitter</a></li>-->
                        <li><a href="https://www.linkedin.com/company/tino-digital-agency/" class="hover-link" target="_blank">Linkedin</a></li>
                        <li><a href="https://www.instagram.com/tino.agency/" class="hover-link" target="_blank">Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>