<div id="preloader">
    <div class="preloader-content">
        <div class="preloader-logo">
            <img src="..\..\assets\images\t.svg" alt="">
            <svg width="120" height="120">
                <circle class="round-pr" r="54" cx="60" cy="60" fill="#fff" stroke="#282828" stroke-width="12"></circle>
            </svg>
        </div>
    </div>
</div>
<div class="line-bg line-bg1"></div>
<div class="line-bg line-bg2"></div>
<div class="line-bg line-bg3"></div>
<div class="line-bg line-bg4"></div>
<div class="line-bg line-bg5"></div>
<!--<div class="target" ></div>-->
<div class="cursor" id="cursor"></div>
<a href="#" class="btn-form-feedback btn-fix">
    <span class="dot-btn dot-btn1"></span>
    <span class="dot-btn dot-btn2"></span>
    <span class="dot-btn dot-btn3"></span>
</a>
<header class="main-header">
    <div class="container main-content-head">
        <div class="header-content">
            <div class="logo-block">
                <a routerLink="/home" class="logo">
                    <img src="..\..\assets\images\tino-logo.svg" alt="">
                    <!--                    <img src="..\..\assets\images/santa-logo.svg" alt="">-->
                </a>
            </div>
            <div class="menu-block">
                <a href="#" class="menu-trig-tween menu-trigger target" id="target">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                </a>
            </div>
            <div class="project-block">
                <a routerLink="/projects" class="project-link link__left-line">Our Projects</a>
            </div>
        </div>
    </div>
</header>